.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    height: 80%;
    width: 60%;
    border: 10px solid rgb(194, 194, 194);
    border-radius: 5%;
    overflow-y: scroll;
}
